version: 2.1
setup: true

orbs:
  # continuation
  # https://circleci.com/developer/ja/orbs/orb/circleci/continuation
  continuation: circleci/continuation@1

#
# Dynamic Configurationを利用
#
jobs:
  setup:
    executor: continuation/default
    steps:
      - checkout
      - run:
          name: debug
          command: |
            #!/usr/bin/env sh
            set -eu
            echo "pwd=$(pwd)"
            uname -a
            whoami
      - run:
          name: circleciコマンド確認
          command: |
            #!/usr/bin/env sh
            set -eu
            echo '=========================='
            circleci version
            echo '=========================='
            circleci --help
      - run:
          name: config生成
          command: cd .circleci && bin/generate-config.sh
      - run:
          name: 確認
          command: cat bin/generate-config.sh
workflows:
  dynamic-config:
    jobs:
      - setup
