version: 2.1
setup: true

orbs:
  # continuation
  # https://circleci.com/developer/ja/orbs/orb/circleci/continuation
  continuation: circleci/continuation@1

#
# Dynamic Configurationを利用
#
jobs:
  setup:
    docker:
      - image: circleci/circleci-cli:alpine
    resource_class: small
    steps:
      - checkout
      - run:
          name: debug
          command: |
            #!/usr/bin/env sh
            set -eu
            echo "pwd=$(pwd)"
            uname -a
            whoami
      - run:
          name: circleci-cliコマンドバージョン確認
          command: |
            #!/usr/bin/env sh
            set -eu
            env | grep CIRCLECI_CLI_TELEMETRY_OPTOUT
            echo '=========================='
            circleci version
            echo '=========================='
            circleci --help
      - run:
          name: config生成
          command: cd .circleci && bin/generate-config.sh
      - run:
          name: 確認
          command: cat .circleci/generated-config.yml
workflows:
  dynamic-config:
    jobs:
      - setup
