version: 2.1
setup: true

jobs:
  container-cimg-base:
    docker:
      - image: cimg/base:current
    resource_class: small
    steps:
      - run:
          name: hello
          command: |
            #!/usr/bin/env sh
            set -eu
            echo "pwd=$(PWD)"
            ls -al
            echo 'Hello: cimg/base:current'
            uname -a

  container-alpine:
    docker:
      - image: alpine:latest
    resource_class: small
    steps:
      - run:
          name: hello
          command: |
            #!/usr/bin/env sh
            set -eu
            echo "pwd=$(PWD)"
            ls -al
            echo 'Hello: alpine:latest'
            uname -a

  container-my-img:
    docker:
      - image: ghcr.io/sunakan/circleci-rails-ci:latest
    resource_class: small
    steps:
      - run:
          name: hello
          command: |
            #!/usr/bin/env sh
            set -eu
            echo "pwd=$(PWD)"
            ls -al
            echo 'Hello: ghcr.io/sunakan/circleci-rails-ci:latest'
            uname -a

  machine-01:
    machine:
      image: ubuntu-2204:2024.11.1
    resource_class: medium
    steps:
      - checkout
      - run:
          name: hello
          command: |
            #!/usr/bin/env sh
            set -eu
            echo "pwd=$(PWD)"
            ls -al
            echo 'Hello: ubuntu-2204:2024.11.1'
            uname -a

  machine-02:
    machine:
      image: ubuntu-2204:2024.11.1
    resource_class: arm.medium
    steps:
      - checkout
      - run:
          name: hello
          command: |
            #!/usr/bin/env sh
            set -eu
            echo "pwd=$(PWD)"
            ls -al
            echo 'Hello: ubuntu-2204:2024.11.1'
            uname -a

workflows:
  my-workflow:
    jobs:
      - container-cimg-base
      - container-alpine
      - container-my-img
      - machine-01
      - machine-02
