[mysqld]
# character-set-server
# https://dev.mysql.com/doc/refman/8.4/en/server-system-variables.html#sysvar_character_set_server
#
# default: utf8mb4
# Dynamic: Yes(再起動不要)
# 確認クエリ: SHOW VARIABLES LIKE 'character_set_server';
#
# デフォルト文字セット
# DBの文字セットが指定されていない場合に使用される
character-set-server = utf8mb4

# collation-server
# https://dev.mysql.com/doc/refman/8.4/en/server-system-variables.html#sysvar_collation_server
#
# default: utf8mb4_0900_ai_ci
# Dynamic: Yes(再起動不要)
# 確認クエリ: SHOW VARIABLES LIKE 'collation_server';
#
# デフォルトの照合順序
# DBの照合順序が指定されていない場合に使用される
# utf8mb4_unicode_ci: Unicode Collation Algorithm (UCA) に基づく照合順序で、言語に依存した正しい順序を提供
# utf8mb4_0900_ai_ci: UCA 9.0.0に基づく照合順序で、発音記号を無視して比較(Accent Insensitive)
# ciはCase Insensitive=大文字小文字を無視=Gmailとgmailが同じ文字列として扱われる
collation-server = utf8mb4_unicode_ci

# log_output
# https://dev.mysql.com/doc/refman/8.4/en/server-system-variables.html#sysvar_log_output
#
# default: FILE
# Dynamic: Yes(再起動不要)
# 確認クエリ: SHOW GLOBAL VARIABLES LIKE 'log_output';
#
# ログの出力先
# FILE, TABLE, NONEから選ぶ(標準出力は無い)
log_output=FILE

# general_log
# https://dev.mysql.com/doc/refman/8.4/en/server-system-variables.html#sysvar_general_log
#
# default: OFF
# Dynamic: Yes(再起動不要)
# 確認クエリ: SHOW GLOBAL VARIABLES LIKE 'general_log';
#
# クエリログが有効かどうか
# 有効にする場合は1 or ONを設定
#
# general_log_file
# https://dev.mysql.com/doc/refman/8.4/en/server-system-variables.html#sysvar_general_log_file
#
# default: host_name.log
# Dynamic: Yes
# 確認クエリ: SHOW GLOBAL VARIABLES LIKE 'general_log_file';
#
general_log=1
general_log_file=/var/log/mysql/query.log

# debug
# https://dev.mysql.com/doc/refman/8.4/en/server-options.html#option_mysqld_debug
#
# default: なし(設定なし)
# Dynamic: Yes(再起動不要)
# 確認クエリ: SHOW VARIABLES LIKE 'general_log';
# OFF(無効化)、
#
# d: 全てのdebug マクロの出力を有効化
# t: 関数の呼び出し終了をトレース
# i: 出力行にPIDを追加
# o: /tmp/mysqld.trace: デバッグ出力ファイルを設定
debug="-d,parser_debug,query_plan,general_log,ddl_log"
